<% provide(:title, 'Main Page') %>

<div class="center hero-unit">
  <h1>Welcome</h1>

  <h2>
    This is the 
    <a href="#">Yizkor</a>
    donation application
  </h2>

  <%= link_to "Use now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
