<% provide(:title, "Accounts") %>

<h1>
	Accounts
</h1>

<%= form_tag accounts_path, method: 'get' do %>
<div class="input-append">
  <%= text_field_tag :search, params[:search], class: "span6" %>
  <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
</div>
<% end %>


<ul id="accounts" class="accounts span7">
	<%= render @accounts %>
</ul>
